body {
	margin: 40px auto;
	line-height: 1.5;
	font-size: 1em;
	color: #444;
	padding: 0 10px;
	font-family: Helvetica, sans-serif;
}

@media (min-width:320px)  { 
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
	body {
		max-width: 90%;
	}
}
@media (min-width:480px)  {
	/* smartphones, Android phones, landscape iPhone */
	body {
		max-width: 90%;
	}
}
@media (min-width:600px)  { 
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
	body {
		max-width: 90%;
	}
}
@media (min-width:801px)  {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	body {
		max-width: 70%;
	}
}
@media (min-width:1025px) { 
	/* big landscape tablets, laptops, and desktops */
	body {
		max-width: 60%;
	}
}
@media (min-width:1281px) { 
	/* hi-res laptops and desktops */
	body {
		max-width: 60%;
	}
}

a { color: #009900; text-decoration: none; }


#header {
	border-bottom: 5px solid #00cc00;
	margin-bottom: 10px;
	font-family: Georgia, serif;
	color: grey;
	text-transform: lowercase;
}

#header h2 {
	margin-bottom: 0.5em;
}

#content {
	border-bottom: 5px solid #e4e4e4;
	padding-bottom: 20px;
}
