<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>{{ page.title }}</title>
		<meta name="author" content="Eoin Coffey">
		<meta name="keywords" content="Eoin Coffey, ecoffey, Software Developer, .NET, C#, Python, JavaScript, Django, ASP.NET, Ruby">
		<meta name="google-site-verification" content="YRzZeKuDBPihZ8eMrVd1sm7skDosGvF4Wvc8f15qmd4" />
		<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/css/site.css" type="text/css" media="screen">
	</head>
	<body>

		<div id="wrapper">
			<div id="header">
			</div>

			<div id="content">
        {{ content }}
        <div style="clear: both;" />
      </div>
    </div>

    <script type="text/javascript">
	  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	  </script>
	  <script type="text/javascript">
	  try {
		  var pageTracker = _gat._getTracker("UA-13190543-1");
		  pageTracker._trackPageview();
	  } catch(err) {}</script>

	</body>
</html>
